<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="SistemaDeGestionDePadelConnectionString" connectionString="Data Source=GONZALOVALLEJOS\PAPLICADA;Initial Catalog=SistemaDeGestionDePadel;Persist Security Info=True;User ID=sa;Password=paplicada" providerName="System.Data.SqlClient" />
    <add name="SeguridadSistemaDeGestionDePadelConnectionString" connectionString="Data Source=GONZALOVALLEJOS\PAPLICADA;Initial Catalog=SeguridadSistemaDeGestionDePadel;Persist Security Info=True;User ID=sa;Password=paplicada" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
        <authentication mode="Forms" />
        <roleManager enabled="true" />
        <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
    </system.web>

</configuration>
